<!DOCTYPE html>
  {%  autoescape true %}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.css">
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js"></script>
</head>
<body>

<div data-role="page" id="pageone">
  <div data-role="header" style='background-color:#6e92cc;'>
    <h1 style='color:#DDD;text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; '>Where To?</h1>
  </div>

    <div data-role="main" class="ui-content">
    <div data-role="collapsible">
      <h1>Ballston</h1>
      {% for train in Ballston  %}
      <p> {{train.get_line()}} Line  to {{train.get_dest()}} leaving in {{train.get_minutes()}} minutes </p>
      {% endfor %}
    </div>
  </div>

    <div data-role="main" class="ui-content">
    <div data-role="collapsible">
      <h1>Tysons</h1>
     {% for train in Tysons %}
      <p> {{train.get_line()}} Line  to {{train.get_dest()}} leaving in <b>{{train.get_minutes()}}</b> minutes </p>
      {% endfor %}
    </div>
  </div>


  <div data-role="footer" style='background-color:#6e92cc;'>
    <h1></h1>
  </div>
</div> 






</body>
</html>
{% endautoescape %}